.app {
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

.app-scheme-form-fieldset {
  border-color: rgba(0, 0, 0, 0.1);
}

.app-scheme-form-header {
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;
}

.app-scheme-form-textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 500px;
  font-size: 12px;
  line-height: 18px;
}

.app-submit {
  border: 1px dashed green;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.app-data-form-lines-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.app-data-form-line {
  margin: 20px 0;
  flex-basis: 50%;
}

.app-layout-cols,
.app-layout-rows {
  display: flex;
}

.app-layout-cols {
  flex-direction: row;
}

.app-layout-rows {
  flex-direction: column;
}

.app-layout-cell {
  flex-basis: 50%;
  padding: 20px;
  outline: 1px dashed lightsalmon;
}
